@model  IEnumerable<Nhom3_BookStore.Models.CartDetail>
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalMoney = 0;
}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home", new { id = "" })">Trang chủ</a></li>
                <li class="active">Thanh toán</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="register-req">
            <h5 class="heading">Đăng ký và thanh toán để dễ dàng truy cập vào lịch sử đặt hàng, hoặc thanh toán dưới dạng khách.</h5>
        </div><!--/register-req-->

        <div class="review-payment">
            <h2>Sản phẩm</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td class="cart_product">
                                    @{
                                        string ImagePath = "~/Areas/Admin/assets/productimages/" + item.Book.Images;
                                    }
                                    <a href="@Url.Action("Details", "Home", new { id = item.BookID.Trim() })">
                                        <img class="checkout_crop" src="@Url.Content(ImagePath)" alt="anh bia sach">
                                    </a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.Book.Tittle</a></h4>
                                    <p>NXB: @item.Book.Publisher.PublisherName</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.Book.Price VNĐ</p>
                                </td>
                                <td class="cart_quantity">
                                    <p style="margin-top: -5px; font-size:30px;">
                                        @item.Amount
                                    </p>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">
                                        @{
                                            decimal money = (decimal)(item.Amount * item.Book.Price);
                                            totalMoney += money;
                                        }
                                        @string.Format("{0:#,###}", @money) VNĐ
                                    </p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="@Url.Action("RemoveBookInCart", "Shopping", new { cartid = item.CartID.Trim(), bookid = item.BookID.Trim() })">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @if (ViewBag.Message == null)
        {
            <h3 class="pull-right">
                Tổng tiền: <span style="color: #fe980f;">@string.Format("{0:#,###}", @totalMoney) VNĐ</span>
            </h3>
            <hr />
            <div class="payment-options">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary float-right" href="@Url.Action("Checkout", "Shopping")">
                            Tiến hành đặt hàng
                        </a>
                    </div>
                </div>
            </div>
            <div class="payment-options" style="margin-top: -150px;">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary float-right" href="@Url.Action("Index", "Home")">
                            Tiếp tục mua sắm
                        </a>
                    </div>
                </div>
            </div>
            <br />
        }
        else
        {

            <div class="alert alert-warning">
                <h3>@ViewBag.Message</h3>
            </div>
            <br />
        }
    </div>
</section> <!--/#cart_items-->
