
@model PagedList.IPagedList<Nhom3_BookStore.Models.Book>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>STORE</h1>
                                <h2>KEN HONDE</h2>
                                <p>Tuyển chọn những tựa sách tốt nhất cho bạn</p>
                                <button type="button" class="btn btn-default get">Mua ngay</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/wwwroot/images/home/banner1.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>STORE</h1>
                                <h2>FLASH SALE</h2>
                                <p>Ưu đãi ngay hôm nay</p>
                                <button type="button" class="btn btn-default get">Mua ngay</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/wwwroot/images/home/banner2.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>STORE</h1>
                                <h2>CHÀO HÈ</h2>
                                <p>Săn sách thả ga không lo về giá</p>
                                <button type="button" class="btn btn-default get">Xem ngay</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/wwwroot/images/home/banner3.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @{
                    Html.RenderAction("_Sidebar", "Home");


                }
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->

                    @if (ViewBag.CategoryName != null)
                    {
                        <h2 class="title text-center">
                            @ViewBag.CategoryName
                        </h2>
                    }
                    else
                    {
                        <h2 class="title text-center">
                            Các mặt hàng
                        </h2>
                    }

                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3" style="height:450px;">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        @{
                                            string ImagePath = "~/Areas/Admin/assets/productimages/" + item.Images;

                                        }
                                        <a href="@Url.Action("Details", "Home", new { id = item.BookID.Trim() })">
                                            <img src="@Url.Content(ImagePath)" height="250" alt="bìa sách" />
                                        </a>
                                        <h2>@Html.DisplayFor(modelItem => item.Price).ToString() VNĐ</h2>
                                        <div style="height:60px;">
                                            <p>@Html.DisplayFor(modelItem => item.Tittle)</p>
                                        </div>
                                        @if (item.Quantity > 0)
                                        {
                                            <a href="@Url.Action("AddToCart", "Shopping", new { bookid = item.BookID.Trim()})" class="btn btn-default add-to-cart">
                                                <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-default add-to-cart">
                                                Hết hàng
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><!--features_items-->
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page }
                ))

            </div>
        </div>
    </div>
</section>
<br />