
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="advertisement">
    <div class="container">
        <img src="~/wwwroot/images/shop/advertisementimage.jfif" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @{
                    Html.RenderAction("_Sidebar", "Home");
                }
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Các mặt hàng</h2>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="@Url.Action("ProductDetails", "Home")"><img src="~/wwwroot/images/shop/Anh1.jpg" alt="bìa sách" /></a>
                                    <h2>100,000VNĐ</h2>
                                    <p>Kinh nhân quả ba đời</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--features_items-->
                <ul class="pagination">
                    <!--pagination-->
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

