@model  IEnumerable<Nhom3_BookStore.Models.CartDetail>
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalMoney = 0;
}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home", new { id = ""})">Trang chủ</a></li>
                <li class="active">Thanh toán</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="register-req">
            <h5 class="heading">Đăng ký và thanh toán để dễ dàng truy cập vào lịch sử đặt hàng, hoặc thanh toán dưới dạng khách.</h5>
        </div><!--/register-req-->

        <div class="review-payment">
            <h2>Sản phẩm</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="cart_product">
                                @{ 
                                    string ImagePath = "~/Areas/Admin/assets/productimages/" + item.Book.Images;
                                }
                                <a href="@Url.Action("Details", new { id = item.BookID.Trim()})">
                                    <img class="checkout_crop" src="@Url.Content(ImagePath)" alt="anh bia sach">
                                </a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@item.Book.Tittle</a></h4>
                                <p>NXB: @item.Book.Publisher.PublisherName</p>
                            </td>
                            <td class="cart_price">
                                <p>@item.Book.Price VNĐ</p>
                            </td>
                            <td class="cart_quantity">
                                @*<div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> - </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> + </a>
                                </div>*@
                                @item.Amount
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">
                                    @{ 
                                        decimal money = (decimal)(item.Amount * item.Book.Price);
                                        totalMoney += money;
                                    }
                                    @money VNĐ
                                </p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="@Url.Action("RemoveBookInCart", "Home", new { cartid = item.CartID.Trim(), bookid = item.BookID.Trim()})">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>

                    }
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Tổng tiền</td>
                                    <td><span>@totalMoney VNĐ</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div class="payment-options">
            <div class="review-payment">
                <h2>Hình thức thanh toán</h2>
                <span>
                    <label><input type="radio"> Chuyển khoản trực tiếp</label>
                </span>
                <span>
                    <label><input type="radio"> Thanh toán khi nhận hàng</label>
                </span>
            </div>
            <div class="row">
                <div class="col-sm-10">
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary float-right" href="complete-checkout.html">Xác nhận thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</section> <!--/#cart_items-->
