@model Nhom3_BookStore.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    decimal totalMoney = 0;
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <h3>Mã đơn hàng: @Model.BillNo - Ngày lập: @Model.PurchaseDate.Value.ToShortDateString()</h3>
    <div class="row">
        <div class="col-sm-6">
            <p><b>Tên khách hàng:</b> @Model.ShoppingCart.Customer.CustomerName</p>
            <p><b>Địa chỉ giao hàng:</b> @Model.DeliveryAddress</p>
            <p><b>Phương thức vận chuyển:</b> @Model.DeliveryMethod</p>
            <p><b>Phương thức thanh toán:</b> @Model.PaymentMethod</p>
            <p><b>Trạng thái đơn hàng:</b> @Model.DeliveryState</p>
        </div>
    </div>
    <h3>
        Danh sách mặt hàng
    </h3>
    <table class="table table-light table-bordered">
        <thead style="background-color: #0f1012; color: #fff;">
            <tr>
                <th>Tiêu đề</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart.CartDetails.ToList())
            {
                <tr>
                    @{
                        decimal money = (decimal)(item.Book.Price * item.Amount);
                        totalMoney += money;
                    }
                    <td>@item.Book.Tittle</td>
                    <td>@item.Amount</td>
                    <td>@item.Book.Price</td>
                    <td>@money</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>Tổng tiền</td>
                <td>@totalMoney</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Cập nhập trạng thái", "Edit", new { id = Model.BillNo.Trim() }) |
    @Html.ActionLink("Quay lại", "Index")
</p>