@model Nhom3_BookStore.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <h4>Hóa Đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoppingCart.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoppingCart.Customer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        @foreach (var item in Model)
        {

        }


        <dt>
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.BillNo.Trim() }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
