@model PagedList.IPagedList<Nhom3_BookStore.Models.Bill>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách Hóa Đơn</h2>
<br />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-10">
                <div class="form-group">
                    @Html.DropDownList("billstate",
                                        new SelectList(new string[] { "Tất cả", "Đã giao", "Đang giao" }),
                                        new { @class = "form-control",}
                                        )
                </div>
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Lọc" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Đơn vị vận chuyển
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th>
            Trạng thái giao hàng
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryState)
            </td>
            <td>
                @Html.ActionLink("Cập nhập trạng thái", "Edit", new { id = item.BillNo.Trim() }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.BillNo.Trim() })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }
))