<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookStore</title>
    <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/wwwroot/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/wwwroot/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/wwwroot/css/price-range.css" rel="stylesheet">
    <link href="~/wwwroot/css/animate.css" rel="stylesheet">
    <link href="~/wwwroot/css/main.css" rel="stylesheet">
    <link href="~/wwwroot/css/responsive.css" rel="stylesheet">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> 0913264598</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> bookstore@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="shop-menu pull-left">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index", "Home", new { id = ""})">LOGO BOOKSTORE</a></li>
                                <li><a href="@Url.Action("Index", "Home", new { id = ""})">Trang chủ</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        @{
                            Html.RenderAction("_Search", "Home");
                        }
                    </div>
                    <div class="col-sm-4">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (Session["CustomerName"] != null)
                                {
                                    <li><a href="@Url.Action("ViewAccountInfo", "Home", new { userid = Session["CustomerID"]})"><i class="fa fa-user"></i>@Session["CustomerName"]</a></li>
                                    <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Login", "Home")"><i class="fa fa-lock"></i>Đăng nhập</a></li>
                                    <li><a href="@Url.Action("Register", "Home")"><i class="fa fa-edit"></i>Đăng ký</a></li>
                                }
                                <li><a href="@Url.Action("ViewCart", "Home")"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header>

    @RenderBody()

    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Chăm sóc khách hàng</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Trợ giúp</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Hỏi đáp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Danh mục</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Sách mới</a></li>
                                <li><a href="#">Sách bán chạy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Chính sách</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Điều khoản sử dụng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Chính sách hoàn tiền</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Giới thiệu cửa hàng</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Vị trí cửa hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>Nhận thông báo sản phẩm mới</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Địa chỉ Email của bạn..." />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Các sản phẩm mới sẽ được cập nhập và thông báo đến bạn</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021 Nhóm 3 - CNTT3 - K13.</p>
                    <p class="pull-right">Được thiết bởi <span><a target="_blank" href="http://www.themeum.com">Nhóm 3</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->

    <script src="~/wwwroot/js/jquery.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/jquery.scrollUp.min.js"></script>
    <script src="~/wwwroot/js/price-range.js"></script>
    <script src="~/wwwroot/js/jquery.prettyPhoto.js"></script>
    <script src="~/wwwroot/js/main.js"></script>
</body>
</html>